.exit_btn{
    background-color:var(--color-yellow) !important;
    padding:0rem !important
}
@media only screen and (min-width: 768px) {
    .exit_btn{
        background-color:var(--color-yellow) !important;
        min-width:6rem !important
    }       
}